mixin settings_switch(name, id, on)
    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for=id)
        input.mdl-switch__input(id=id type="checkbox" checked=on)
        span.mdl-switch__label=name

mixin settings_select(name, id)
    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        select.mdl-textfield__input(id=id)
            block
        label.mdl-textfield__label(for=id)=name



form.mdl-cell--3-col.center-container
    label.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Save

    input#load-file(type="file")
    label.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(for="load-file") Load

form.mdl-cell--5-col.start-container
    +settings_select("Select translation", "translation")
        each translation, tag in translations
            option(value=tag)=translation
    +settings_select("Select language", "language")
        each language in languages
            option(value=language)=language

form.mdl-cell--4-col.center-container
    +settings_switch("Light theme", "theme-check", true)
    +settings_switch("Use var names in preview", "vars-check", false)
    +settings_switch("Make human readable", "readable-check", false)
