mixin section(id, content_id, active="")
    section.mdl-layout__tab-panel(id=id class=active)
        .tab-content.mdl-grid(id=content_id)
            block


mixin form()
    form(autocomplete="off" onsubmit="return false;" action="")&attributes(attributes)
        block


doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title=literals.title
        include meta
    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs.mdl-layout--no-drawer-button
            header.mdl-layout__header
                .mdl-layout__header-row
                    .ins.mdl-layout-title Create logger
                    .mdl-layout-spacer
                    nav.mdl-navigation
                        a.mdl-navigation__link(href="https://github.com/pseusys/create-logger") GitHub
                        a.mdl-navigation__link(href="https://github.com/pseusys/create-logger/wiki")=literals.wiki
                        a.mdl-navigation__link(href=build)=literals.build
                .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-layout__tab-manual-switch
                    a.mdl-layout__tab(href="#GENERAL")=literals.general
                    a.mdl-layout__tab.is-active(href="#STYLE")=literals.style
                    a.mdl-layout__tab.collapsing(href="#PREVIEW")=literals.preview
                    a.mdl-layout__tab.collapsing(href="#CODE")=literals.code

            main.mdl-layout__content
                #tabs
                    +section("GENERAL", "file-content")
                        include general_tab
                    +section("STYLE", "style-content", "is-active")
                        include style_tab
                    +section("PREVIEW", "preview-content")
                    +section("CODE", "code-content")

                #terminal.mdl-shadow--2dp
                    include terminal
