mixin presets(names)
    .tile
        each cls, name in names
            .gr
                .preset-holder
                    .preset-example(id=name class=cls)=name
                button.mdl-button.mdl-js-button.mdl-button--raised.preset-button(name=name type="button") Apply

mixin simple(...simple)
    each bit in simple
        .gr
            input.term-changer(name=bit id=bit type="checkbox")
            label.ins(for=bit)=bit

mixin colors(position, subs)
    .gr-in
        select.term-changer(id=position+"color" name=position)
            option(value="" selected hidden) Choose a color...
            each color in colors
                option(value=color)=color
        label.ins(for=position+"color")=subs
