mixin presets(names)
    each cls, name in names
        span.mdl-chip
            .preset
                span.preset-label.mdl-chip__text(class=cls)=name
            .mdl-layout-spacer
            button.preset-button.mdl-chip__action(type="button")
                i.material-icons cancel

mixin checkboxes(...simple)
    each check in simple
        label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for=check)
            input.term-changer.mdl-checkbox__input(id=check name=check type="checkbox")
            span.mdl-checkbox__label=check

mixin colors(position, subs)
    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        select.term-changer.mdl-textfield__input(id=position+"color" name=position)
            option(selected disabled hidden) Choose color...
            each color in colors
                option(value=color)=color
        label.mdl-textfield__label(for=position+"color")=subs



form#colors-tab.mdl-cell--2-col.start-container
    +colors('for', "Front color")
    +colors('back', "Back color")

form#styles-tab.mdl-cell--3-col.split-container
    .center-container
        each style in styles
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for=style)
                input.term-changer.mdl-radio__button(id=style value=style name="sty" type="radio")
                span.mdl-radio__label=style
    .center-container
        +checkboxes('blink', 'cross', 'under', 'ita')

form#presets-tab.mdl-cell--3-col.split-container
    .center-container
        +presets({ error: "back-red sty-bold", warning: "for-yellow", info: "for-blue" })
    .center-container
        +presets({ beautiful: "", original: "", creative: "" })

.mdl-cell--2-col

form#variables-tab.mdl-cell--2-col.start-container
    #var-name.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#var-name-input.variable.mdl-textfield__input(type="text")
        label.mdl-textfield__label(for="var-name") Variable name

    #var-type.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        select#var-type-input.variable.mdl-textfield__input(disabled)
            option(selected disabled hidden) Choose type...
            each type in types
                option(value=type)=type
        label.mdl-textfield__label(for="var-type") Variable type
