include mixins

+form#colors-tab.mdl-cell--2-col-phone.mdl-cell--3-col-tablet.mdl-cell--2-col-desktop.start-container
    +colors('for', 'sty', literals.color_for)
    +colors('back', 'sty', literals.color_back)

+form#styles-tab.mdl-cell--2-col-phone.mdl-cell--5-col-tablet.mdl-cell--4-col-desktop.split-container
    .center-container
        each style in styles
            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for=style)
                input.term-changer.mdl-radio__button(id=style value=style name="sty" type="radio")
                span.mdl-radio__label=literals[style]
    .center-container
        +checkboxes('blink', 'cross', 'under', 'ita')

+form#presets-tab.mdl-cell--4-col-phone.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop.split-container
    .center-container
        +presets({ error: "back-red sty-bold", warning: "for-yellow", info: "for-blue" })
    .center-container
        +presets({ beautiful: "", original: "", creative: "" })

+form#variables-tab.mdl-cell--4-col-phone.mdl-cell--4-col-tablet.mdl-cell--2-col-desktop.start-container
    #var-name.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#var-name-input.variable.mdl-textfield__input(type="text")
        label.mdl-textfield__label(for="var-name")=literals.var_name

    #var-type.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        select#var-type-input.variable.mdl-textfield__input(disabled)
            option(selected disabled hidden)=literals.type_def
            each type in types
                option(value=type)=type
        label.mdl-textfield__label(for="var-type")=literals.var_type
